* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.raleway-normal{
   font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.Inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
   font-variation-settings: "wdth" 100;
}

body {
  background-color: #f5f8ff;
  margin: 0;
  padding: 0;
}

.primary-color {
  color: #4e47ff;
}


 header{
  background-image: url(../Assets/Hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1440px;
  height: 698px;
  margin: 0 auto;

} 

/* nav style */
.Logo-color{
   color: #4E47FF;
font-family: Inter;
font-size: 34px;
font-style: normal;
font-weight: 900;
line-height: 150%; 
}
nav {
  max-width: 1140%;
  height: 151px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 50px 0;
  margin: 0 150px;
}
.signup-button{
width: 132px;
height: 48px;
background-color:#4E47FF ;
color: #FFFFFF;
font-weight: bold;
font-size: 16px;
border: none;
border-radius: 10px;

}

/* section */
.section {
  align-items: center;
  margin: 152px 268px;
  width: 1140px;
  height: 328px;
  text-align: center;
}
.h3 {
  color: #252432;
  font-weight: bold;
  text-align: center;
  font-size: 65px;
  width: 905px;
  height: 152px;
  
}
.Fc-button {
  color: white;
  width: 174px;
  height: 48px;
  font-size: 16px;
  font-weight: bold;
  background-color: #4e47ff;
  border: none;
  border-radius: 10px;
  margin-top: 37px;
  margin-left: auto;
  margin-right: auto;
}

/* Main section */

/* Action section */

.action-section{
  display: flex;
  margin: 116px 160px 116px 141px;
  justify-content: center;

}
.action{
  width: 517px;
  height: 203px;
  margin: 62.5px 220px 62.5px 0;

}

.action-title{
  color: #252432;
  font-weight: bold;
  font-size: 42px;
}

.description{
  width: 517px;
  height: 60px;
  font-size: 400px;
  font-size: 24px;
  color: #252432;
  line-height: 30px;
  margin-top: 23px;
}
.launch-button{
  background-color: #4E47FF;
  padding: 12px 36px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 23px;
}
.image{
  width: 403px;
  height: 328px;
  border-radius: 48px;
}

/* Productive users section */

 .productiveuser-section{
   margin: 0 auto;
  width: 1140px;
  height: 306px;
  border: none;
  border-radius: 24px;
  text-align: center;
 background-color:#4e47ff1a;

} 
.box{
  width:100%;
  height: 206px;
  margin: 0 auto;
  padding: 50px 142px; 
  
}

 .productiveuser-title{
  text-align: center;
  font-weight: bold;
  font-size: 38px;
  padding: 0 0 40px 0;
} 

.content{
  display: flex;
  gap: 158px;
  text-align: center;
  justify-content: center;
   align-items: center; 
}

.productive-title{
  color: #4e47ff;
  font-weight: bold;
  font-size: 80px;
  margin-bottom: 0;
  padding: 0;
}

.productive-description{
  color:#000000 ;
  opacity: 50%;
  font-weight: normal;
  font-size: 20px;
}

/* Review section */

.review-section{
    width: 1140px;
    height: 342px;
    margin: 137px auto;
    
}

.review-section-title{
  width: 1140px;
  height: 49px;
  font-weight: bold;
  font-size: 42px;
  color: #2D2432;
  text-align: center;
}

.Card-container{
  display: flex;
  gap: 20px;
  padding: 50px 0 0 0;

}

.review-card{
  width: 366.67px;
  height: 243px;
  background-color: #FFFFFF;
  padding: 24px;
  border-radius: 15px;
  
}


.review-title{
  color: #1E1E1E;
  font-size: 24px;
  margin-top: 24px;
  font-weight: 600;

}

.review-description{
  color: #1E1E1E;
  font-size: 16px;
  font-weight: 400;
  width: 318.67px;
  height: 44px;
  margin-top: 8px;

}
.avatar-img{
  border-radius: 50%;
}

.review-profile{

  display: flex;
  margin-top: 24px;
}

.review-container{

margin-left: 12px;

}

.Title{
  color: #757575;
  font-size: 16px;
  width: 266.67px;
  height: 22px;
  font-weight:bold ;
}
.Description{
  color: #B3B3B3;
  width: 266.67px;
  height: 22px;
  font-weight: 400;
  font-size: 16px;
}

